{% extends "back/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageIcon = 'fal wallet' %}
{% set pageTitle = "Mes opérations"|trans %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="wallet-edit" class="container-fluid pt-4 pb-5 position-relative">
        {{ form_start(form, {attr: {
            novalidate: "novalidate",
        }}) }}
        <div class="row">
            {{ form_row(form.adminName) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}