<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>DEBUG</h1>
</body>
</html>

<p style="text-align: center; font-size:21pt;"><strong>Pourquoi int&eacute;grer Alsace Lait en stage ou en alternance
        ?</strong></p>
<p style="text-align: center; font-size:18pt;">Chez Alsace Lait, nous croyons fortement &agrave; l&rsquo;importance de
    la <strong>formation professionnelle</strong> chez les <strong>jeunes</strong>.<br>C&rsquo;est pourquoi nous
    accueillons chaque ann&eacute;e des <strong>alternants</strong> et <strong>stagiaires</strong> dans nos <strong>&eacute;quipes</strong>.
</p>
<p style="text-align: center; font-size:18pt;">Ils suivent<strong> diff&eacute;rents cursus </strong>: marketing,
    communication, RH, HSE, informatique, ing&eacute;nieur, production, maintenance&hellip;</p>