{% extends "back/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageIcon = 'fal tachometer-alt-average' %}
{% set pageTitle = "Tableau de bord"|trans %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="dashboard" class="container-fluid pt-4 pb-5 position-relative">

    </div>
{% endblock %}