{% extends "back/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageIcon = 'fal wallet' %}
{% set pageTitle = "Mes opérations"|trans %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="operations-index" class="container-fluid pt-4 pb-5 position-relative">
        {% include 'back/new-modal.html.twig' %}
        {{ dump() }}
    </div>
{% endblock %}