{% trans_default_domain 'admin' %}

{% set managementModules = [
    'analytics-customer',
    'analytics-internal',
    'css',
    'delete',
    'edit',
    'gdpr',
    'google-analytics',
    'information',
    'medias',
    'pages',
    'secure-page',
    'seo',
    'translation',
    'navigation',
    'user'
] %}
{% set displayModules = false %}
{% for moduleCode, status in website.configuration.modules %}
    {% if moduleCode not in managementModules and moduleCode|moduleActive(configuration) %}
        {% set displayModules = true %}
    {% endif %}
{% endfor %}

{% if displayModules %}
    <li>
        <a class="as-arrow bigger{% if moduleActive %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ 'fal bookmark'|icon(null, 15, 'white show-menu') }}<span class="hide-menu">{{ "Modules"|trans }}</span>
        </a>
        <ul aria-expanded="false" class="collapse{% if moduleActive %} in{% endif %}">
{#            {% include 'admin/include/sidebar/include/modules/catalog.html.twig' %}#}
		</ul>
    </li>
{% endif %}