{% trans_default_domain 'front_default' %}

{% set logo = logos.footer is defined ? logos.footer : null %}

<footer role="contentinfo" id="footer" class="footer position-relative pt-0 pt-lg-5 pb-4 bg-dark">
    <div class="container pt-4">
        <div class="row row-container mb-5">
            <div class="col-12 text-center">
                {% if logo %}
                    <a class="d-inline-block" aria-label="{{ companyName|striptags }}" href="{{ app.request.getSchemeAndHttpHost() }}" data-toggle="preloader">
                        {{ asset(logo)|file({}, {
                            screensSizes: {
                                mobile: {width: 207, height: 90},
                                tablet: {width: 207, height: 90},
                                desktop: {width: 207, height: 90}
                            },
                            title: companyName,
                            id: 'main-footer-logo',
                            class: 'force-size initial-color mb-3',
                            only_html: false,
                            lazyLoad: true
                        }) }}
                    </a>
                {% endif %}
                <strong class="label d-inline-block w-100 fw-600">{{ companyName|raw }}</strong>
            </div>
        </div>
    </div>
</footer>